
html{
  scroll-behavior: smooth;
  background-color: white;
  margin: 1rem;
  margin-bottom: 4rem;
}
a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
  transition: color 0.6s ease;
}
#navbar{
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  top: 0;
  z-index: 1000;
}
#img-1{
  height: 4vh;
  width: 15vw;
}
.navitem{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 0rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.up{
  color: black;
  margin-top: -1rem;
}
.navlinks{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navlinks a{
  display: block;
  padding: 1rem;
  transition: 0.6s background-color ease, 0.6s color ease;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
}
.navlinks a:hover{
  background-color: rgb(0, 102, 255);
  border-radius: 0.5rem;
  color: white;
}
h1{
  font-family: "Montserrat";
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}
#special{
  font-family: "Playwrite CZ";
  text-decoration: underline;
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #ff6a00, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#image{
  height: 53vh;
  width: 55vw;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
p{
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}
h2{
  font-family: "Montserrat";
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}
.line{
  color: black;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  text-align: center;
  border-spacing: 1rem;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
form{
  margin-left: auto;
  margin-right: auto;
}
#email, #num, #address{
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.15rem;

}
.form-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
.input-field{
  width: 15rem;
  height: 2.3rem;
  margin-bottom: 1.2rem;
}
form{
  margin-top: 3rem;
}